.header {
  color: black;
  font-size: 1rem;
}

.create_room_btn {
  background-color: var(--blue);
  padding: 0.5rem 0.9rem;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1rem;
}

.rooms_list_section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.about_room {
  background-color: white;
  border-radius: var(--radius);
  padding: 1rem;
  width: 25rem;
}

.details dt {
  color: var(--muted);
  font-size: 0.7rem;
}

.details dd {
  color: black;
}

.details hr {
  border: none;
  border-top: 1px solid lightgray;
}

.details dd,
.details hr,
.details input,
.details textarea {
  margin-bottom: 0.5rem;
}

.details textarea {
  max-height: 300px;
  overflow-y: auto;
}

.details input,
.details textarea {
  padding: 0.2rem 0.1rem;
  width: 100%;
}

.placeholder {
  color: var(--muted);
}
