.header {
  color: black;
  font-size: 1rem;
}

.create_trip_btn {
  background-color: var(--blue);
  padding: 0.5rem 0.9rem;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1rem;
}

.trips_list_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;
}