:root {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --bg: linear-gradient(180deg, #eef2ff 0%, #f8fafc 60%);
  --radius: 12px;
  --shadow: 0 6px 20px rgba(20, 24, 40, 0.06);
  --muted: #6b7280;
  --blue: #646cff;
  --red: #ff2f2f;
  --green: rgb(188, 255, 188);
}

body {
  background: var(--bg);
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
}
